<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

    <title>shankarkarande.com</title>
    <!--
  
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="/static/assets/css/owl.css" />
    <link rel="stylesheet" href="/static/assets/css/lightbox.css" />
</head>

<!-- Body section -->

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img src="/static/assets/images/shankar.png" style="height: 150 px; width : 140px;" /></a>
                    </div>
                    <div class="author-content">
                        <h4>Shankar Karande</h4>
                        <div class="line-dec"></div>
                        <u><b style="color:antiquewhite">Web Designer</b></u>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">About Me</a></li>
                            <li><a href="#section2">I’m good at</a></li>
                            <li><a href="#section3">Skills</a></li>
                            <li><a href="#section4">Contact Me</a></li>
                        </ul>
                    </nav>
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="https://www.youtube.com/channel/UCgrcg_Iv7ykj8pq8UXbRcHg"><i class="fa fa-youtube"></i
                  ></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/4Karande"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/shankar-karande-193406192/"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/shankarkarande"><i class="fa fa-github"></i></a>
                            </li>
                            <!-- <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>Copyright-2022 @shankarkarande</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- About me Section -->

        <section class="section about-me" data-section="section1">
            <div class="d-flex justify-content-end">
                <!-- <a href="/login" class="btn btn-link text-white" role="button">Sign In</a> -->
                <a href="/logout" class="btn btn-link text-white fa fa-sign-out" role="button">Logout</a>
            </div>
            <div class="container">
                <div class="section-heading">
                    <h2 style="color: antiquewhite;">About Me</h2>
                    <div class="line-dec"></div>
                    <p style="text-align: justify;">
                        Hello, My name is Shankar Karande. I am from Pandharpur. Currently i am a senior studying Artificial intelligence and Data science engineering at PES Modern Coe Pune. Right after graduating high school i started working at MNC. I was really interested
                        in getting my hands on some experience. In addition to research I have also developed strong interpersonal and communication skills. While i gained invaluable experience as a student, I am looking for an internship to allow become
                        fully interested in an engineering & business environment.
                    </p>

                </div>
                <div class="left-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="/static/assets/images/clg.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-text">
                                <h5>Shree Vitthal Education & Research Institute(SVERI).</h5>
                                <p style="text-align: justify;">
                                    In this institute i have completed my diploma in information technology branch. That time i was learnd lot of things like technical skills , behavioural skills , commucations skills & coding skills.
                                </p>
                                <div class="white-button">
                                    <a href="#">High School Diploma</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-image-post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-text">
                                <h4>Progressive Education Society Modern COE Pune.</h4>
                                <p style="text-align: justify;">
                                    Currently i am pursing my b.tech in Artificial intelligence & Data science in this college. I have learn lot of things from last two months from this college.
                                </p>
                                <div class="white-button">
                                    <a href="#">Uder Graduation  B.Tech</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-image">
                                <img src="/static/assets/images/bclg.jpeg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- What i'm good at section -->

        <section class="section my-services" data-section="section2">
            <div class="container">
                <div class="section-heading">
                    <h2 style="color: antiquewhite;">What I’m good at?</h2>
                    <div class="line-dec"></div>
                    <p style="text-align: justify;">I have absolutely no idea how or why I have this skill, but coding is something I love even more than other technical skill, and I am really good at it. I feel blessed to have gotten some great experience in the field of developing
                        and deploying the products.
                    </p>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="first-service-icon service-icon"></div>
                            <h4>Creative Thinking</h4>
                            <p style="text-align: justify;">
                                Creative thinking is the ability to create or formulate new things and ideas which can be any kind of artwork, any concept, any method, any solution, or even any gadget. Creative thinking is about “thinking outside the box”.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="second-service-icon service-icon"></div>
                            <h4>Coding</h4>
                            <p style="text-align: justify;">
                                Coding is the process of transforming ideas, solutions, and instructions into the language that the computer can understand – that is, binary-machine code. Coding is how humans are able to talk with computers.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="third-service-icon service-icon"></div>
                            <h4>Time Managment</h4>
                            <p style="text-align: justify;">
                                Time-management skills are the skills that help you organise your time effectively to be more productive. Learning to manage your time effectively will benefit your career as time-management skills are useful transferable skills that apply in any job
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="fourth-service-icon service-icon"></div>
                            <h4>Disciplined</h4>
                            <p style="text-align: justify;">
                                Discipline is the practice of making people obey rules or standards of behaviour, and punishing them when they do not. ... Discipline is the quality of being able to behave and work in a controlled way which involves obeying particular rules or standards.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Programming language section  -->

        <section class="section my-work" data-section="section3">
            <div class="container">
                <div class="section-heading">
                    <h2 style="color: antiquewhite;">Programming Skills</h2>
                    <div class="line-dec"></div>
                    <p style="text-align: justify;">In my educational journey i have learn a lot of Programming Skills . This make me creative and effective in my work . Programmer skills are methods and processes that provide computers with instructions on what actions to perform.
                        Collectively known as “code,” these instructions are written by programmers to solve problems or perform specific tasks.
                    </p>
                </div>
                <div class="row">
                    <div class="isotope-wrapper">
                        <form class="isotope-toolbar">
                            <label><input
                    type="radio"
                    data-type="*"
                    checked=""
                    name="isotope-filter"
                  />
                  <span style="color: blanchedalmond;">Learning a new skill is often an extremely rewarding experience. </span></label>
                            <label><input
                    type="radio"
                    data-type="people"
                    name="isotope-filter"
                  />
                  <!-- <span>people</span> -->
                  </label
                >
                <label
                  ><input
                    type="radio"
                    data-type="nature"
                    name="isotope-filter"
                  />
                  <!-- <span>Web Design</span> -->
                  </label
                >
                <label
                  ><input
                    type="radio"
                    data-type="animals"
                    name="isotope-filter"
                  />
                  <!-- <span>animals</span> -->
                  </label
                >
              </form>
              <div class="isotope-box">
                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                    src="/static/assets/images/Python.jpg"
                    alt="sq-sample26"
                    style="height: 250px; width:290px;"
                    />
                    <figcaption>
                      <p style="text-align: justify ; margin :5px;color :black">
                        <b>Python :-</b><br>                    
                        Python is a widely-used, interpreted, object-oriented, and high-level programming language with dynamic semantics, used for general-purpose programming. 
                        It was created by Guido van Rossum, and first released on February 20, 1991.
                      </p>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/cpp.png"
                      style="height: 250px; width:290px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>C++ :-</b><br>   
                        C++ is a very popular language for performance-critical applications that rely on speed and efficient memory management. It's used in a wide range of industries including software and game development. Developed by Bjarne Stroustrup of Bell Laboratories in the early 1980s,
                      </p>
                      </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/js.png"
                      style="height: 250px; width:290px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>JavaScript :-</b>  
                        JavaScript is a dynamic computer programming language. whose implementations allow client-side script to interact with the user and make dynamic pages.<br>
                        <b>TypeScript :-</b> 
                        TypeScript is an open-source programming language that builds on top of JavaScript. It works on any browser, any OS, any environment that JavaScript runs.
                      </p>
                      </figcaption>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/mongo.png"
                      style="height: 250px; width:290px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>MongoDB :-</b>
                        Working with MongoDB NoSQL database is much easier than working with any relational database. All the data is stored in JSON format. <br>
                        <b>MongoDB Atlas :-</b>
                        Atlas handles all the complexity of deploying, managing, and healing your deployments on the cloud service provider of your choice ( AWS, Azure, and GCP ).
                      </p>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/pflask.png"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>Python-Flask :-</b>
                        Flask is a web framework, it’s a Python module that lets you develop web applications easily. It’s has a small and easy-to-extend core: <br>
                        <b>Flask-SQLAlchemy :-</b>
                        SQLAlchemy, the Python Toolkit is a powerful OR Mapper, which provides application developers with the full functionality and flexibility of SQL.
                        
                      </p> </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/nodeEx.png"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>Node.js :-</b>
                        It is an open source and cross-platform runtime environment for executing JavaScript code outside of a browser.<br>
                        <b>Express.js :-</b>
                        It is a small framework that sits on top of Node.js’s web server functionality to simplify its APIs and add helpful new features.
                      </p> </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/ml.png"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>Machine Learning :-</b><br>
                        Machine Learning algorithm learns from experience E with respect to some type of task T and performance measure P, if its performance at tasks in T, as measured by P, improves with experience E. For example, If a Machine Learning algorithm is used to play chess.
                      </p> </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/dl.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>Deep Learning :-</b><br>
                        Deep learning drives many artificial intelligence (AI) applications and services that improve automation, performing analytical and physical tasks without human intervention. Deep learning technology lies behind everyday products and services (such as digital assistants, voice-enabled TV remotes.
                      </p> </figcaption>
                  </figure>
                </div>

                
                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/pandas.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>Pandas :-</b>
                        Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.<br>
                        <b>Excel CSV :-</b>
                        Pandas has excellent methods for reading all kinds of data from Excel files. You can also export your results from pandas back to Excel.
                      </p> </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/nuppy.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>NumPy - Numerical Python :-</b><br>
                        Python Numpy is a popular library used to deal with arrays. Arrays can be single, double, or multiple dimensional. Numpy is widely used for performing scientific calculations, matrix operations, and is the major component of Machine Learning and Data Science.
                      </p> </figcaption>
                  </figure>
                </div>

                
                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/scikit.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>ScikitLearn - sklearn :-</b><br>
                        Scikit-learn is one of the most popular machine learning libraries on GitHub. Scikit-learn is largely written in Python, and uses numpy extensively for high-performance linear algebra and array operations. Furthermore, some core algorithms are written in Cython to improve performance.
                      </p> </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/matplotlib.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>MatPlotlib - Pyplot :-</b><br>
                        Matplotlib is an amazing visualization library in Python for 2D plots of arrays. Matplotlib is a multi-platform data visualization library built on NumPy arrays and designed to work with the broader SciPy stack. It was introduced by John Hunter in the year 2002.
                      </p> </figcaption>
                  </figure>
                </div>


                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/tf.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>TesorFlow :-</b><br>
                        TensorFlow is an end-to-end open source platform for machine learning. It has a comprehensive, flexible ecosystem of tools, libraries and community resources that lets researchers push the state-of-the-art in ML and developers easily build and deploy ML powered applications.
                      </p> </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="/static/assets/images/gith.jpg"
                      style="height: 250px; width:300px;"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <p style="text-align: justify; margin:5px;color:black;">
                        <b>Git :-</b>
                        Git is software for tracking changes in any set of files, usually used for coordinating work among programmers collaboratively developing source code during software development<br>
                        <b>GitHub :-</b>
                        GitHub is used for code sharing, and as a social networking site for programmers. Many companies and organizations use it to facilitate project management and collaboration. 
                      </p> </figcaption>
                  </figure>
                </div>



              </div>
            </div>
          </div>
        </div>
      </section>

      

      <!-- Books Section -->
      
      <section class="section my-work" data-section="section3">
        <div class="container">
            <div class="section-heading">
                <h2 style="color: antiquewhite;">Favourite Books & News Papers</h2>
                <div class="line-dec"></div>
                <p style="text-align: justify;">
                  When I’m reading a book, my mind shifts gears. Where I might have a had a stressful day, a book can easily distract me. Fiction is fantastic for this. Reading an awesome fiction book is perfect right before bed time. Though sometimes it’s hard to put the book down if it’s really good. Still, you’ll be relaxed ;) </p>
            </div>
            <div class="row">
                <div class="isotope-wrapper">
                    <form class="isotope-toolbar">
                        <label><input
                type="radio"
                data-type="*"
                checked=""
                name="isotope-filter"
              />
              <span style="color: blanchedalmond;">Reading Books Makes You Better at Life</span>
            </label>
                            <label><input
                type="radio"
                data-type="people"
                name="isotope-filter"
              />
              <!-- <span>people</span> -->
              </label
            >
            <label
              ><input
                type="radio"
                data-type="nature"
                name="isotope-filter"
              />
              <!-- <span>Web Design</span> -->
              </label
            >
            <label
              ><input
                type="radio"
                data-type="animals"
                name="isotope-filter"
              />
              <!-- <span>animals</span> -->
              </label
            >
          </form>
          <div class="isotope-box">
            <div class="isotope-item" data-type="nature">
              <figure class="snip1321">
                <img
                src="/static/assets/images/ai-book.jpg"
                alt="sq-sample26"
                style="height: 250px; width:290px;"
                />
                <figcaption>
                  <p style="text-align: justify ; margin :5px;color :black">
                    <b>आर्टीफिसिअल इंटेलिजन्स  :-</b><br>                    
                    अच्युत गोडबोले आपल्या काळातले वेगवेगळ्या विषयांमधले विपुल लेखन करणारे लेखक
                    आहेत. त्यांनी AI च्या इतिहासावरून हळुवारपणे जात असताना सद्यःपरिस्थितीचा ऊहापोह
                    करत या पुस्तकात AI च्या भविष्याची अतिशय कल्पक मांडणी केली आहे. हे पुस्तक जितकं
                    माहितीपूर्ण आहे तितकंच ते अंतर्दृष्टी देणारं आहे. 
                    <b>लेखक : अच्युत गोडबोले</b>
                  </p>
                </figcaption>
              </figure>
            </div>

            <div class="isotope-item" data-type="people">
              <figure class="snip1321">
                <img
                  src="/static/assets/images/second book.png"
                  style="height: 250px; width:290px;"
                  alt="sq-sample26"
                />
                <figcaption>
                  <p style="text-align: justify; margin:5px;color:black;">
                    <b>How to Win Friends and Influence People :-</b><br>   
                     In this book Dale Carnegie teaches you how to turn around your relationship and improve how you deal with all of the people in your life, and thus make your life more rewarding.
                    <b><br>
                      .People who want to make strong relationships.<br>
                      .Those who want to make friends quickly.<br>
                      Author : Dale Carnegie
                    </b>
                    </p>
                  </figcaption>
              </figure>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  
      
      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2 style="color: antiquewhite;">Contact Me</h2>
            <div class="line-dec"></div>
            <span
              >Fusce eget nibh nec justo interdum condimentum. Morbi justo ex,
              efficitur at ante ac, tincidunt maximus ligula. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.</span
            >
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12" method = "POST">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/assets/js/isotope.min.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>